<div class="page-container" (mousemove)="mouseMove($event)" (mouseup)="moveableService.mouseUp()">
    <app-card *ngFor="let card of moveableService.getCards();" [card]="card">

    </app-card>

    <app-card-stack *ngFor="let stack of moveableService.getStacks();" [stack]="stack">

    </app-card-stack>

    <div>
        Room {{roomService.id}}
    </div>
    <div>
        Player {{playerService.id}}
    </div>
    <button button mat-raised-button color="primary" class="pad-btn" (click)="clickCreate()">
        Create stack
    </button>
    <button button mat-raised-button color="primary" class="pad-btn" (click)="clickDelete()">
        Delete stack
    </button>
</div>