
<div 
    draggable="false" 
    [style.position]="'absolute'" 
    [style.transform]="moveableService.getTransform(stack.moveableId)"
    [style.z-index]="moveableService.getZ(stack.moveableId)" 

    [class.stack-overlay]="true"
    [class.card-inactive]="!moveableService.beingDragged(stack.moveableId)"
    [class.highlight]="moveableService.isHighlighted(stack.moveableId)"
    [class.no-drag-highlighting]="true"

    (mousedown)="baseHit($event)"
>


    <img 
    [style.width]="moveableService.CARD_W + 'px' " 
    draggable="false"
    [src]="topCardImg()"
    [class.no-drag-highlighting]="true"
    >
    <div >
        {{stack.cards.length}}
    </div> 

</div>

<!-- 
[style.height]="moveableService.getHeight(stack.moveableId)"
[style.width]="moveableService.getWidth(stack.moveableId)" -->