
<div 
draggable="false" 
[style.position]="'absolute'" 
[style.transform]="moveableService.getTransform(card.moveableId)"
[style.height]="moveableService.getHeight(card.moveableId)"
[style.width]="moveableService.getWidth(card.moveableId)"
[style.z-index]="moveableService.getZ(card.moveableId)" 
[class.card-overlay]="true"
[class.card-inactive]="!moveableService.beingDragged(card.moveableId)"
[class.highlight]="moveableService.isHighlighted(card.moveableId)"
[class.no-drag-highlighting]="true"
(mousedown)="moveableService.mouseDown(card.moveableId)"
>

{{card.cardValue}}
<img 
[style.width]="moveableService.getWidth(card.moveableId)"  
draggable="false"
[src]="getFrontImgSrc(card.cardValue)"
[class.no-drag-highlighting]="true"
>

</div>